@import "tailwindcss";


:root {
  --primary: #19C1B6;
  --secondary: #FEA439;
  --tertiary: #FE6788;
  --background:#FEF8EC;
  --foreground:#D1F2F0;
  --linear:liner-gradient(#EDFEFC , #FEF6EC)
}

@theme inline{
  --color-primary:var(--primary);
  --color-secondary:var(--secondary);
  --color-tertiary:var(--tertiary);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
}
html {
  scroll-behavior: smooth;
}
